<launch>

  <param name="/use_sim_time" value="true" />
  <rosparam file="$(find multi_robot)/param/SIMULATION.yaml" command="load" />
  
  <!-- start world -->
  <include file="$(find aws_robomaker_hospital_world)/launch/hospital.launch">
    <arg name="gui" default="false"/>
  </include>
  <!-- <node name="gazebo" pkg="gazebo" type="gazebo" 
   args="$(find turtlebot3_gazebo)/worlds/your.world" respawn="false" output="screen" /> -->

  <!-- start gui -->
  <!-- <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> -->
  <node pkg="map_server" type="map_server" name="map_broadcaster" args="$(find multi_robot)/map/hospital_map.yaml">
    <param name="frame_id" value="map" />
  </node>
  
  <!-- <node name="centralNode" pkg="multi_robot" type="centralNode.py" output="screen" clear_params="true"/> -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find multi_robot)/rviz/temp2.rviz" />

</launch>
