<launch>
    <arg name="tbName" default="asd"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>

    <group ns="$(arg tbName)">
    <param name="tf_prefix" value="$(arg tbName)" />
    <include file="$(find multi_robot)/launch/TD_one_robot.launch" >
      <arg name="tbName" value="$(arg tbName)"/>
      <arg name="x_pos" value="$(arg x)"/>
      <arg name="y_pos" value="$(arg y)"/>
      <arg name="z_pos" value="0"/>
    </include> 
    </group>


  <!-- Perfectly working static planner-->
  <!-- <include file="$(find multi_robot)/launch/TD_tb3_move_base.launch">
    <arg name="tbName" value="$(arg tbName)"/>
  </include> -->



  <include file="$(find multi_robot)/launch/TD_move_base.launch">
    <arg name="tbName" value="$(arg tbName)"/>
  </include>

 

  <!-- <group ns="$(arg tbName)">
    <node name="roboNode" pkg="multi_robot" type="decent_SITMASR.py" output="screen" clear_params="true">
      <param name="mode" value="$(arg tbName)" /> 
    </node>
  </group> -->

  <!-- <group ns="$(arg tbName)">
    <node name="roboNode" pkg="multi_robot" type="roboNode.py" output="screen" clear_params="true">
      <param name="mode" value="$(arg tbName)" /> 
    </node>
  </group> -->
  
  <group ns="$(arg tbName)">
    <node name="roboNode" pkg="multi_robot" type="roboNode_STN.py" output="screen" clear_params="true">
      <param name="name" value="$(arg tbName)" /> 
    </node>
    <node name="auctionerNode" pkg="multi_robot" type="auctionerNode.py" output="screen" clear_params="true">
      <param name="name" value="$(arg tbName)" /> 
    </node>
  </group>
  

</launch>